* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: auto;
}

/* Header */

@media(min-width: 1110px) {
    nav {
        display: flex;
    }
}

nav {
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 200px;
    background: #F96D00;
}

nav ul {
    display: flex;
    text-align: right;
    justify-content: space-between;
}

.nav-items li {
    list-style: none;
    display: inline-block;
    padding: 2px 12px;
}

.nav-items li a {
    text-decoration: none;
    color :#222831;
    /* font-size: 24px; */
    font-size: 1.6vw;
    transition: all 0.5s 100ms;
}

.nav-items li a:hover {
    /* color: #ecc8c9; */
    color: #B85252;
    /* color: #7e7e7e; */
    /* font-size: 28px; */
    /* font-size: 1.8vw; */
}

.right-side-nav {
    text-align: right;  
    padding: 0;  
    margin: 0;
}

.right-side-nav .upper {
    /* display: flex;
    padding: 2px 12px; */

    display: flex;
    padding: 2px 12px;
    right: 44px;
    top: 10px;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
}

.search-container {
    margin-left: auto;
    display: flex;
}

.search-container input[type=text] {
    background: rgba(25, 25, 26, 0.5);
    border: none;
    font-size: 20px;
    padding: 0px 10px;
    z-index: 10;
}

.search-container input:focus {
    outline: #000 solid 1px;
    background: rgba(25, 25, 26, 0.5);
}

.search-btn {
    padding: auto 10px;
    background: #E99960;
    border: none;
    cursor: pointer;
}

.search-btn:hover {
    background: #c28051;
}

.search-btn img {
    padding: 6px 10px;
}

.right-side-nav .lower {
    position: relative;
    height:100%; 
    margin-left: auto; 

    /* margin-top: 6.5em; 
    margin-bottom: 0.3em; */

    margin-top: 145.5px;
    margin-bottom: 16px;
}

.home-logo-text {
    text-decoration: none;
    /* font-size: 40px; */
    font-size: 3vw;
    color: #222831;

    text-align: center;
    /* padding: 44.5px 65px; */
    padding: 3vw 3vw;
    background: #F96D00;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: all 0.5s 100ms;
}

.home-logo-text:hover {
    /* font-size: 44px; */
    font-size: 3.4vw;
    /* margin: 15px 15px; */
    margin: 1vw 1vw;

    /* margin-left: 15px;
    margin-right: 15px; */
}

/* Body */

.whatsnew-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5EDED;
    height: 122px;
    padding: 1% 3%;
    font-size: 48px;
}

.whatsnew-container div {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(177, 167, 167);
}

.whatsnew-container a {
    text-decoration: none;
    color: rgb(177, 167, 167);
    padding: 0px 12px;
    transition: color 0.5s 100ms;
}

.whatsnew-container a:hover {
    color: #000000;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1% 3%;
}

.title {
    font-size: 38px;
}

.events-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0px 0px;
    margin-left: 0px;
}

.events-container ul {
    list-style: none;
}

.events-container li {
    margin: 24px 0px;
    /* font-size: 24px; */
    font-size: 1.8vw;
    text-align: justify;
}

.events-container li img {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.events-container li a {
    background: #C4C4C4;
    padding: 18px 36px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

.separator {
    border-left: 1px solid #000000;
    min-height: 120vmin;
    /* margin: 0px 72px;    */
    margin: 0% 2.5%;
}

.news-container {
    max-width: 30%;
}

.news-container ul li {
    display: flex;
    flex-direction: column;
    margin: 24px 0px;

}

.news-container a {
    text-decoration: none;
    color: #000;
    /* font-size: 24px; */
    font-size: 1.6vw;
}

.news-container a img {
    width: 100%;
    min-height: 100%;
}

.news-container .news-title {
    overflow: hidden; 
    max-height: 10%; 
}

/* Footer */

.footer {
    position: relative;
    display: flex;
    padding: 2% 5%;
    background: #3E3636;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    background: #C4C4C4;
    min-width: 30%;
    display: flex;
    align-items: center;
    /* font-size: 18px; */
    font-size: 1.4vw;
    padding: 2% 3%;
}

.footer-content {
    padding: 2% 6%;
    display: flex;
    align-items: center;
    text-align: center;
    /* font-size: 24px; */
    font-size: 1.4vw;
    
    color: #FFFFFF;
}

.copyright-container {
    background: #C4C4C4;
    display: flex;
    align-items: center;
    text-align: center;
    /* font-size: 18px; */
    font-size: 1.4vw;
    padding: 0.5% 0.5%;
    
    color: #000000;
}