*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

/* .header{
    min-height: 100vh;
    width: 100%;
    background-image: none;
    background-position: center;
    background-size:cover;
    position: relative;

    position: relative;
    width: 1440px;
    height: 2546px; 

    background: #FFFFFF;
}*/

/* Header */

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 193px;
    left: 0px;
    top: 0px;
    background: #F96D00;
}

nav ul {
    display: flex;
    text-align: right;
    justify-content: space-between;
}

.nav-items li {
    list-style: none;
    /* margin-right: 100px; */
    display: inline-block;
    padding: 2px 12px;
    position: relative;
    
}

.nav-items li a {
    text-decoration: none;
    color :#222831;
    font-size: 24px;
}

.right-side-nav {
    text-align: right;  
    padding: 0;  
}

.upper {
    height:10%; 
    position: fixed; 
    top:0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.search-box {
    position: relative;
    /* display: flex; */
    /* width: 100%;
    height: 51px;    
    background: rgba(57, 62, 70, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;     */
}

.search-box input {
    position: relative;
    width: 288px;
    height: 51px;    
    background: rgba(57, 62, 70, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box; 
    /* display: flex; */
}

.search-btn {
    position: relative;
    /* float: right; */
    height: 51px;
    /* display: inline-block; */
}

.right-side-nav .lower {
    height:100%; margin: auto; margin-top: 4em; 
    margin-bottom: 0.5em;
    text-decoration: none;
}

/* .wrapper {
    max-width: 1200;
    margin: 0 auto;
} */

/* .left-side-nav {
    padding: 2%;
} */

.home-logo-text {
    text-decoration: none;
    font-size: 40px;
    /* text-align: center; */
    color: #222831;
    line-height: 47px;
}

.logo-container {
    text-align: center;
    padding: 29.5px 0;
    background: #F96D00;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 378px;
    height: 118px;
}


/* Body */

.main-rect {
    width: 100%;
}

/* Footer */

.footer {
    position: relative;
    display: flex;
    padding: 2% 6%;
    background: #3E3636;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    background: #C4C4C4;
    width: 281px;
    max-height: 331px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 2% 3%;
}

.footer-content {
    padding: 2% 6%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24px;
    
    color: #FFFFFF;
}

.copyright-container {
    background: #C4C4C4;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    padding: 0.5% 0.5%;
    
    color: #000000;
}