*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

/* .header{
    min-height: 100vh;
    width: 100%;
    background-image: none;
    background-position: center;
    background-size:cover;
    position: relative;

    position: relative;
    width: 1440px;
    height: 2546px; 

    background: #FFFFFF;
}*/

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    text-align: right
}

.search-item {
    display:block;
}

.nav-items li {
    list-style: none;
    /* margin-right: 100px; */
    display: inline-block;
    padding: 8px 12px;
    position: relative
}

.right-side-nav {
    text-align: right;
}

.nav-container {
    position: relative;
    width: 100%;
    height: 193px;
    background: #F96D00;
}

.wrapper {
    max-width: 1200;
    margin: 0 auto;
}

.home-logo {
    text-decoration: none;
    font-size: 40px;
    /* text-align: center; */
    color: #222831;
    line-height: 47px;
}

.logo {
    text-align: center;
    padding: 29.5px 0;
    background: #F96D00;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 378px;
    height: 118px;
}



.main-rect {
    width: 100%;
}